---
layout: archive
title: " Education | Md Abdul Mutalib"
permalink: /education/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

{% include base_path %}

<head>
    <title>Education | Md Abdul Mutalib | Machine Learning Researcher</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="Md Abdul Mutalib, Mutalib, M A Mutalib, Mutalib cs, mutalibcs, mamutalib CV, Machine Learning, Research">
    <meta name="author" content="Md Abdul Mutalib">
    <link rel="shortcut icon" type="image/webp" href="/images/favicon.ico" />
    <meta name="description"
        content="Md Abdul Mutalib | ML Research (Medical AI, AI4Science, GNN, HAI, NLP) | Kaggle GM | Explorer">


    <!-- Facebook Open Graph -->
    <meta name="og:description" content="ML Research (Medical AI, CNN, DL, NLP) 📝 Explorer">
    <meta name="og:title" content="Md Abdul Mutalib | ML Researcher">
    <meta name="og:url" content="https://mamutalib.github.io/">
    <meta name="og:type" content="article">
    <meta property="og:image" content="https://mamutalib.github.io/images/profile.png">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="627">


    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Md Abdul Mutalib">
    <meta name="twitter:description"
        content="Mutalib | AI/ML Research (GNN, XAI, CO, HAI) 📊 Kaggle Grandmaster 📝 Explorer">
    <meta name="twitter:url" content="index.html">
    <meta name="twitter:image" content="https://mamutalib.github.io/images/profile.png">
</head>

<body>

    <h2 id="formal-education">📚 Formal Education</h2>
    <hr>
    <ul>
        <li>
            <p>
                <strong>Bachelor of Science (Engineering) in CSE</strong> | <strong>August 2019 - December 2023</strong>
                Computer Science & Engineering (CSE) <br>
                <span style="font-style: italic;">North East University Bangladesh (NEUB)</span>
            <uL style="padding-bottom: 6px;">
                <li>
                    <strong>Relevant Courses to ML/AI:</strong> Data Structures and Algorithms (DSA), Machine Learning
                    (ML), Deep
                    Learning (DL), Artificial Intelligence (AI), Computer Vision (CV), Database Systems, Operating
                    Systems (OS),
                    Computer Networks, Discrete Mathematics, Numerical Methods, Object-Oriented Programming (OOp),
                    Software Engineering
                </li>
                <!-- <li>
                <strong>Relevant Courses to HCI/HAI:</strong> SOC101G: Principles of Sociology, IPE331: Ergonomics and Industrial
                Safety, IPE335: Industrial Management, IPE337: Operations Management, IPE437: Organizational Behavior,
            </li> -->
            </uL>
            </p>
        </li>
        <li>
            <p>
                <strong>Higher Secondary Certificate (HSC)</strong>| <strong>July 2016 - March 2019</strong><br>
                Science<br>
                <span style="font-style: italic;">Shah Khurrom Degree College</span>
            </p>
        </li>
        <li>
            <p>
                <strong>Secondary School Certificate (SSC)</strong> | <strong>January 2007 - March 2016</strong><br>
                Science<br>
                <span style="font-style: italic;">Beheli High School</span>
            </p>
        </li>
        <li>
            <p>
                <strong>Diploma</strong> | <strong>December 2020</strong><br>
                Counseling Skills for Everyday life<br>
                <span style="font-style: italic;">National Trauma Counseling Centre</span>
            </p>
        </li>
    </ul>

    <p><br /></p>

    <h2 id="research-training">🧑‍🎓 Research Training</h2>
    <hr>
    <ul>
        <li>
            <p><strong> Workshop on Research & Publications</a></strong>,
                <span class="link"><a target="_blank" href="https://www.univbd.com/"> <b>UniV</b> </a></span> |
                <span class="date">Remote</span> | September, 2024 - November, 2024
            </p>
        </li>
    </ul>

    <p></br></p>

    <h2 id="training-programs">⚙️ Training Programs</h2>
    <hr>
    <ul>
        <li>
            <p><b>Aspire Leaders Program 2024</b> at <em>Aspire Institute, Harvard university </em> (Apr-Sept 2023)</br>
                ▪ Participated in a rigorous leadership development program at one of the world's most prestigious
                universities, gaining invaluable skills and knowledge in areas such as decision-making, strategic
                planning,
                team management, communication, conflict resolution, project management, and cross-functional
                collaboration through participation in various program activities and projects.
                <b>Module</b> -
                <a href="..\files\Aspire\md_abdul_mutalib_module_1_badge.pdf" target="_blank">Badge 1</a>,
                <a href="..\files\Aspire\md_abdul_mutalib_module_2_badge.pdf" target="_blank">Badge 2</a>, 
                <a href="..\files\Aspire\md_abdul_mutalib_module_3_badge.pdf" target="_blank">Badge 3</a>, and  
                <a href="..\files\Aspire\md_abdul_mutalib_alp_2024_certificate_of_completion.pdf" target="_blank">Certificate</a>
            </p>

        </li>


    </ul>

    <p><br /></p>


    <h2 id="online-courses">🧾 Online Courses & Certifications</h2>
    <!-- <hr>
    <ul>
        <li>
            <p>
                <strong>Coursera - DeepLearning.ai</strong> | Specializatons - Professional Certificates |
                <strong><a target="_blank" aria-label="Related URL"
                        style="color:rgb(0, 90, 192); text-decoration: underline"
                        href="https://github.com/azminewasi/Coursera">View Details</a></strong><br>
            <ul style="padding-left: 5%; line-height: 1.45em">
                <li><a target="_blank" aria-label="Related URL" style="color:black; text-decoration: underline"
                        href="https://github.com/azminewasi/Machine-Learning-AndrewNg-DeepLearning.AI">Machine Learning
                        Specialization - DeepLearning.ai</a>, <a target="_blank" aria-label="Related URL"
                        style="color:black; text-decoration: underline"
                        href="https://github.com/azminewasi/Deep-Learning-AndrewNg-DeepLearning.AI">Deep Learning
                        Specialization - DeepLearning.ai</a>, <a target="_blank" aria-label="Related URL"
                        style="color:black; text-decoration: underline"
                        href="https://github.com/azminewasi/Natural-Language-Processing-Specialization-AndrewNg-DeepLearning.AI">Natural
                        Language Processing Specialization - DeepLearning.ai</a>, <a target="_blank"
                        aria-label="Related URL" style="color:black; text-decoration: underline"
                        href="https://github.com/azminewasi/TensorFlow-Advanced-Techniques-Specialization-AndrewNg-DeepLearning.AI">TensorFlow:
                        Advanced Techniques Specialization - DeepLearning.ai</a>, <a target="_blank"
                        aria-label="Related URL" style="color:black; text-decoration: underline"
                        href="https://github.com/azminewasi/Generative-Adversarial-Networks-Specialization-DeepLearning.ai">Generative
                        Adversarial Networks (GANs) Specialization</a></li>

                <li><a target="_blank" aria-label="Related URL" style="color:black; text-decoration: underline"
                        href="https://github.com/azminewasi/Tensorflow-Developer-PC-AndrewNg-DeepLearning.AI">DeepLearning.AI
                        TensorFlow Developer</a>, <a target="_blank" aria-label="Related URL"
                        style="color:black; text-decoration: underline"
                        href="https://github.com/azminewasi/IBM-Machine-Learning">IBM - Machine Learning</a>, SAS Visual
                    Business Analytics, Google Cloud Digital Leader, Data Analytics (Google Career - Professional
                    Certificates), Advanced Data Analytics (Google Career - Professional Certificates), BI Analytics
                    (Google Career - Professional Certificates), IT Automation with Python (Google Career - Professional
                    Certificates), IT Support Professional (Google Career - Professional Certificates), Project
                    Management (Google Career - Professional Certificates)</li>
            </ul>
            </p>
        </li>
        <li>
            <p>
                <strong>DataCamp</strong> | Tracks Completed |
                <strong><a target="_blank" aria-label="Related URL"
                        style="color:rgb(0, 90, 192); text-decoration: underline"
                        href="https://github.com/azminewasi/DataCamp#datacamp">View Details</a></strong><br>
            <ul style="padding-left: 5%; line-height: 1.45em">
                <li>Career Track - Python Programmer, Career Track - Data Analyst with Python, <a target="_blank"
                        aria-label="Related URL" style="color:black; text-decoration: underline"
                        href="https://www.datacamp.com/statement-of-accomplishment/track/7cc385b02d4d4229b9b1c4e853f942999836205a">Data
                        Scientist with Python</a>, <a target="_blank" aria-label="Related URL"
                        style="color:black; text-decoration: underline"
                        href="https://www.datacamp.com/statement-of-accomplishment/track/18589b81edb60a4e3e6f144a6ed7443e6695fce3">Machine
                        Learning Scientist with Python</a></li>
            </ul>
            </p>
        </li>
        <li>
            <p>
                <strong>freecodecamp.org</strong><br>
            <ul style="padding-left: 5%; line-height: 1.45em">
                <li>Data Analysis with Python</li>
            </ul>
            </p>
        </li>
        <li>
            <p>
                <strong>LinkedIn Learning</strong> | Learning Paths <br>
            <ul style="padding-left: 5%; line-height: 1.45em">
                <li>Become a Software Developer, Become a Data Analyst, Become a Financial Analyst</li>
            </ul>
            </p>
        </li>
        <li>
            <p>
                <strong>Sololearn</strong> |
                <strong><a target="_blank" aria-label="Related URL"
                        style="color:rgb(0, 90, 192); text-decoration: underline"
                        href="https://github.com/azminewasi/Sololearn-Course-Projects">View Details</a></strong><br>
            <ul style="padding-left: 5%; line-height: 1.45em">
                <li>Data Science, Machine Learning, Python Core, Python for Data Science</li>
            </ul>
            </p>
        </li>
        <li>
            <p>
                <strong>EdX</strong> |
                <strong><a target="_blank" aria-label="Related URL"
                        style="color:rgb(0, 90, 192); text-decoration: underline"
                        href="https://github.com/azminewasi/Online-Courses-and-Projects/tree/main/Edx">View
                        Details</a></strong><br>
            <ul style="padding-left: 5%; line-height: 1.45em">
                <li><a target="_blank" aria-label="Related URL" style="color:black; text-decoration: underline"
                        href="https://github.com/azminewasi/Harvard-Data-Science-Course-Projects">HarvardX PH526x: Using
                        Python For Research</a>, IBMx DS0105EN: Data Science Tools</li>
            </ul>
            </p>
        </li>
        <li>
            <p>
                <strong>Cognitive Class</strong> |
                <strong><a target="_blank" aria-label="Related URL"
                        style="color:rgb(0, 90, 192); text-decoration: underline"
                        href="https://github.com/azminewasi/CognitiveClass.ai">View Details</a></strong><br>
            <ul style="padding-left: 5%; line-height: 1.45em">
                <li>Python Intermidiate, Data Science with Python, Deep Learning, Applied Data Science with R</li>
            </ul>
            </p>
        </li>
        <li>
            <p>
                <strong>Coursera</strong> | Specializations |
                <strong><a target="_blank" aria-label="Related URL"
                        style="color:rgb(0, 90, 192); text-decoration: underline"
                        href="https://github.com/azminewasi/Coursera">View Details</a></strong><br>
            <ul style="padding-left: 5%; line-height: 1.45em">
                <li>Python for Everybody, Data Science Fundamentals, Python 3 Programming, Applied Data Science with
                    Python, Data Science Fundamentals, Facebook Social Media Marketing, IBM Cyber Security Analyst,
                    Introduction to Scripting in Python, Java as a Second Language, Six Sigma Yellow, Green Belt, Web
                    Design for Everybody, Supply Chain Management, Project Management Principles and Practices, Digital
                    Manufacturing & Design Technology, Web Applications for Everybody</li>
            </ul>
            </p>
        </li>
    </ul>


    <p><br /><br /><br /><br /><br /><br /></p>

    </div> -->


</body>